body{
    background-color: black;
}

p{
    background-color: pink;
}
section#frases{
    color:blueviolet
}

.section2{
    background-color: antiquewhite;
    color:blue;
}

.div2{
    background-color: brown;

}

.par1{
    background-color: blue;
    padding-left: 10px;
    padding-top: 50px;
    margin-top: 50px;
}

button{
    background-color: white;
    width: 150px;
    height: 50px;
    color: turquoise; 
}

img{
    width: 350px;
    height: 350px;
}

.borda{
    color: #e02c2c;
    border: 2px solid red;
}

*{ /* Configuração universal, ele reseta a página*/
    margin:0;
    padding:0;
    background-color: blueviolet;
}

/*Alinhamento*/

alinhamento{
    text-align: right; /*Alinhamento a direita*/
    /*text-align:center;*/ /*Alinhamento a direita*/
    /*text-align:left;*/ /*Alinhamento a direita*/
}

/*float left*/
/*position*/
