*{ /*Reset da página*/
    margin-left : 0;
    padding: 0;
    margin-top: 0mm; /*Retira a margem entre as sessões*/
    font-family: 'Inter', sans-serif; /*Qualquer*/
}

.cabecalho{/*Referência da classe cabecalho lá no header, poderíamos passar o header direto também*/

    background-color: #7C71FF;
    display: flex; /*O lex envolve toda a classe como contêiner*/
    align-items: center;
    justify-content: space-between; /*Dar espaço entre os itens*/
    height: 100px; /*Altura fixa*/
}

.cabecalho li{
    display: inline-block; /*Deixa um ao lado do outro, só o inline não permite mexer no tamanho*/
    padding: 10px;
    margin-right: 5px;
}

.links{
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 50px; /*Arredonda as bordas*/
}

.inicio{
    background: #200065;
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: flex-start;
    border-radius: 50px;
    
    color: #D9D9D9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

a{
    text-decoration: None; /*Nenhum link vai recerber decoração*/
}

.info-usuario{
    color: #FFFFFF;
    margin-left: 30px;
}

.nome{
    text-transform: uppercase; /*Toda fonte em UPPER*/
}

.imagens{
    padding-top: 30px; /*Espaço para cima entre as sessões*/
    padding-bottom: 30px;
    background: #D7E2FF;
    height: 400px;
    flex-shrink: 0;
    display: block;
    color: #200065;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.imagens h1{
    font-family: Abril Fatface;
    font-size: 36px;
}

.imagens h3{
    color: #200065;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.imagens li{
    display: inline-block; /*As imagens ficaram lado a lado*/
    justify-content:space-around;
    margin-right: 10px; /*Distância entra as imagens*/
    margin-left: 10px; 
    margin-right: 10px;

}

.clientes{
    padding-top: 30px;
    background: #AEBFEB;
    height: 400px;
    text-align: center;

}

.clientes h3{
    color: #200065;
    font-family: Abril Fatface;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container-clientes{
    display: flex; /* Use display: flex; para os elementos ficarem lado a lado */
    justify-content: center; /* Centraliza horizontalmente os elementos */
    align-items: center; /* Centraliza verticalmente os elementos */
    padding-top: 10px;
}

.clientes article{
    background: #D4E0FF;
    display: inline-block; /*Os feedbacks ficaram lado a lado*/
    width: 260px;
    height: 260px;
    margin-left: 50px; /*Espaço entre os cometários*/
    margin-right: 20px;
    padding-top: 20px;
    
}

.clientes article > p{
    color: #1E1E1E;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pedidos{
    padding-top: 30px;
    background: #D7E2FF;
    height: 300px;
}

.pedidos h3{
    color: #200065;
    text-align: center;
    font-family: Abril Fatface;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pedidos table{
    margin:auto; /*Centraliza a tabela*/
    border-collapse: collapse; /*Coloca bordas simples na tabela*/
}

.pedidos table > thead{
    border: 1px solid #1E1E1E;
    background: #7C71FF;
    height: 40px;
    flex-shrink: 0;
}

.pedidos table > tbody{
    border: 1px solid #1E1E1E;
    background: #FFF;
}

.pedidos table > tbody > tr  > th{
    width: 230px;
    height: 18px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    height: 40px;
    flex-shrink: 0;
}

.fale_conosco{
    padding-top: 30px;
    background: #AEBFEB; 
    height: 587px;
    text-align: center;
  
}

.fale_conosco h2{
    color: #200065;
    text-align: center;
    font-family: Abril Fatface;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fale_conosco label{
    margin-left: 100px;
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
}


.btn_submit{
    display: inline-block;
    width: 270px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #313131;
    background: #313131;
    margin: 0 auto; /*Para centralizar o botão*/
    /*Configuração do texto*/
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
}

.input{
    width: 1141px;
    padding: 10px 15px; /*Padroniza o tamanho da caixa do input*/
    border-radius: 10px;
    border: 1px solid #AAAAAD;
    background: #FFF;
    margin-left: 25px;
    margin-bottom: 30px;
}

.msg{
    width: 1141px;
    padding: 30px 15px; /*Padroniza o tamanho da caixa do input*/
    border-radius: 10px;
    border: 1px solid #AAAAAD;
    background: #FFF;
    margin-left: 25px;
}

.footer{
    height: 100px;
    flex-shrink: 0;
    background: #3F3F3F;
    display:flex;
    align-items: center;
}

.footer p{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}