*{ /*Reset da página*/
    margin-left : 0;
    padding: 0;
    font-family: 'Inter', sans-serif; /*Qualquer*/
}

.cabecalho{/*Referência da classe cabecalho lá no header, poderíamos passar o header direto também*/

    background-color: #BE89CB;
    display: flex; /*O lex envolve toda a classe como contêiner*/
    align-items: center;
    justify-content: flex-end; /*Empurra para o final da linha*/
    height: 103px; /*Altura fixa*/
    width: 100%;
    padding: 0px 20px;
    gap: 40px;
}

li{
    list-style: none; /*Retira as bolinhas da lista não ordenada*/
    display: inline-block; /*Deixa um ao lado do outro, só o inline não permite mexer no tamanho*/
    padding: 0px 20px;
    margin-right: 20px;
}

.lista_cabecalho li>a{ /*Especifica o local e as subtags*/
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: None; /*Nenhum link vai recerber decoração*/
}

.foto{
    width: 100px;
    height: 100px;
    margin-top: 48px; /*Espaçamento acima*/
    margin-bottom: 2px; /*Espaçamento abaixo*/
}

.descricao{
    color: #000;
    text-align: center;
    font-family: ABeeZee;
    font-size: 16px;
    width: 490px; /*É preciso usar um valor aqui para usar o margin*/
    margin-left: auto; /*Margem muda de acordo com o tamanho*/
    margin-right: auto;
    margin-top: 21px;
    font-style: normal;
}

.informacao{
    height: 479px;
    background-color: #EDEAEA;
    text-align: center;
    width: 100%; /*Coloquei essas últimas linhas para que o backgroud completasse até o final na página na horizontal*/
    padding: 0px 20px;
    gap: 40px;
}
.nome{
    text-transform: uppercase; /*Toda fonte em UPPER*/
    color: #FF4DBC;
    text-align: center; /*Ela vai centralizar tudo (imagem, texto)*/
    font-family: Open Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 50.4px */
}

.profissao{
    color: #C5C0C0;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.container{
    gap: 40px;
    margin-top:86px;
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
}

.artigo-formacao{
    display:flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
}

.titulo_sessao{
    color: #FF4DBC;
    font-family: Open Sans;
    font-size: 24px;
    margin-bottom: 2px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 363.452px;
}

.lista-formacao{
    padding-left: 100px; /*Espaçamento na parte de dentro*/
}

.ciclo_formativo{
    color: #828282;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
}

.link-formacao{
    color: #2F80ED;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.decricao_formacao{
    margin-top: 8px;
    font-size: 14px;
    margin-bottom: 53px;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.rodape{
    display:flex;
    align-items: center;
    background-color: #BE89CB;
    height: 198px;
}

.link-rodape{
    color:#FFFFFF;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

.lista-rodape li{
    display: flex; /* Vai alinhar a lista com um item abaixo do outro*/
    align-items: center; /*Alinha ao centro*/
    font-size: 18px;
    margin-bottom: 28px;
    font-weight: 700;   
}

.container-rodape{
    margin-left: 60px;
}
